<html>
   <body>
      
      <form action = "{{ url_for('addmovie') }}" method = "POST">
         <h3>Movie</h3>
         Release Year<br>
         <input type = "text" name = "Release Year" /></br>
         
         Title<br>
         <textarea name = "Title" ></textarea><br>
         
         Origin/Ethnicity<br>
         <input type = "text" name = "Origin/Ethnicity" /><br>
         
         Director<br>
         <input type = "text" name = "Director" /><br>
                  
         Cast<br>
         <input type = "text" name = "Cast" /><br>  

         Genre<br>
         <input type = "text" name = "Genre" /><br> 

         Wiki Page<br>
         <input type = "text" name = "Wiki Page" /><br>
                  
         Plot<br>
         <input type = "text" name = "Plot" /><br>

         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>